.custom-bg-color {
    background-color: #ecf0f5;
}

.custom-box-content {
    margin: 0 auto;
    float: inherit;
}

.custom-input-width {
    width: 90% !important;
    text-align: end;
}

.custom-input-addon-width {
    width: 10% !important;
    margin-left: -1px;
    z-index: 1 !important;
}

.custom-hidden {
    display: none;
}

input.error {
    border:1px solid red;
}

label.error {
    color: red;
}

.tooltip-inner {
    max-width: 600px !important;
}
